streamlit
openai-whisper
transformers==5.14.1
torch
yt-dlp
sentencepiece
accelerate
youtube-transcript-api
sentence-transformers
faiss-cpu
gTTS
python-dotenv
openai
pytest
pytest-cov
pytest-mock
flake8
python-dotenv
openai
plotly